@tailwind base;
@tailwind components;
@tailwind utilities;

.shake {
  animation-name: turnNBack;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes turnNBack {
  0% {transform: translateY(-0.20rem) translateX(-0.7rem)  rotate(-12deg);}
  100% {transform: translateY(-0.7rem) translateX(-0rem)  rotate(28deg)}
}